.demoblock-message-content {
  color: #1a1a1a !important;
}
.dark .demoblock-message-content {
  color: #fff !important;
}

.dark .demo-block {
  border: 1px solid #4c4d4f;
}

.dark .demo-block .meta {
  background-color: #1a1a1a;
  border-top: 1px solid #4c4d4f;
}

.dark .demo-block-control {
  background-color: #242424;
  border-top: 1px solid #4c4d4f;
}

.dark .demo-block-control:hover {
  background-color: #242424;
}