.w-digital-scroll {
  overflow: hidden;
  display: inline-block;
  height: 1.5em;

  &-list {
    display: inline-flex;
    flex-direction: column;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.42, 0, 0.62, 1.2);
  }
}