$wiewui-animation-duration-slow: var(--wiewui-animation-duration-slow, 300ms);
$wiewui-animation-duration-base: var(--wiewui-animation-duration-base, 200ms);
$wiewui-animation-duration-fast: var(--wiewui-animation-duration-fast, 100ms);

$wiewui-animation-ease-in: var(
  --wiewui-animation-ease-in,
  cubic-bezier(0.5, 0, 0.84, 0.25)
);
$wiewui-animation-ease-out: var(
  --wiewui-animation-ease-out,
  cubic-bezier(0.16, 0.75, 0.5, 1)
);
$wiewui-animation-ease-in-out: var(
  --wiewui-animation-ease-in-out,
  cubic-bezier(0.5, 0.05, 0.5, 0.95)
);
$wiewui-animation-ease-in-smooth: var(
  --wiewui-animation-ease-in-smooth,
  cubic-bezier(0.645, 0.045, 0.355, 1)
);
// ng库中中把 $wiewui-animation-ease-in-smooth 重命名为了 $wiewui-animation-ease-in-out-smooth
$wiewui-animation-ease-in-out-smooth: var(
  --wiewui-animation-ease-in-out-smooth,
  cubic-bezier(0.645, 0.045, 0.355, 1)
);
$wiewui-animation-linear: var(
  --wiewui-animation-linear,
  cubic-bezier(0, 0, 1, 1)
);
