//圆角变量

$wiewui-border-radius: var(--wiewui-border-radius, 2px); //一般圆角
$wiewui-border-radius-feedback: var(--wiewui-border-radius-feedback, 4px); //反馈类圆角
$wiewui-border-radius-card: var(--wiewui-border-radius-card, 6px); //卡片圆角
