@import './color';
@import '../core/font';
@import '../theme/font';

$text-color: $wiewui-text;
$font-family: 'HuaweiFont', helvetica, arial, 'PingFang', 'Microsoft YaHei', 'Hiragino Sans GB', 'Microsoft JhengHei', sans-serif;
$font-variant-base: tabular-nums;
$body-background: $wiewui-base-bg;
$wiewui-font-size: $wiewui-font-size; // 12px
// $wiewui-font-size-modal-title: $wiewui-font-size-modal-title; // 18px
$font-size-page-title: $wiewui-font-size-page-title; // 16px
// $wiewui-font-size-card-title: $wiewui-font-size-card-title; // 14px
.wiewui-font-size-base {
  font-size: $wiewui-font-size; // 12px
}

.wiewui-font-base {
  @include font-content(); // 12px normal 1.5
}

.wiewui-font-size-modal-title {
  font-size: $wiewui-font-size-modal-title; // 18px
}

.wiewui-font-modal-title {
  @include font-title($wiewui-font-size-modal-title); // 18px bold 1.5
}

.wiewui-font-size-page-title {
  font-size: $wiewui-font-size-page-title; // 16px
}

.wiewui-font-page-title {
  @include font-title(); // 16px bold 1.5
}

.wiewui-font-size-secondary-title {
  font-size: $wiewui-font-size-card-title; // 14px
}

.wiewui-font-secondary-title {
  @include font-title($wiewui-font-size-card-title); // 14px bold 1.5
}
