@import '../theme/color.scss';
@import '../theme/shadow';
@import '../theme/corner';
@import '../theme/font';

@mixin border-position-radius($position: left) {
  border-top-#{$position}-radius: 0;
  border-bottom-#{$position}-radius: 0;
}
$border-change-time: 300ms;
$border-change-function: cubic-bezier(0.645, 0.045, 0.355, 1);

@mixin border-transition {
  transition: border-color $border-change-time $border-change-function;
}

.wiewui-form-controls input[type='text'],
.wiewui-form-controls input[type='password'],
[dInput] {
  width: 100%;
  height: 28px;
  font-size: $wiewui-font-size;

  &.wiewui-input-sm {
    font-size: $wiewui-font-size-sm;
    height: 26px;
  }

  &.wiewui-input-lg {
    font-size: $wiewui-font-size-lg;
    height: 46px;
  }
}

[dTextArea] {
  width: 100%;
}

.wiewui-form-controls textarea,
[dInput],
[dTextarea] {
  box-sizing: border-box;
  padding: 4px 10px;
  color: $wiewui-text;
  vertical-align: middle;
  border: 1px solid $wiewui-form-control-line;
  border-radius: $wiewui-border-radius;
  outline: none;
  background-color: $wiewui-base-bg;
  @include border-transition();

  &:not([disabled]):not(.disabled):not(.wiewui-disabled):not(.error):not(.wiewui-error) {
    &:hover {
      border-color: $wiewui-form-control-line-hover;
    }

    &:focus {
      border-color: $wiewui-form-control-line-active;
    }
  }

  &[disabled],
  &.disabled,
  &.wiewui-disabled {
    &,
    &:hover {
      cursor: not-allowed;
      background-color: $wiewui-disabled-bg;
      border-color: $wiewui-disabled-line;
      color: $wiewui-disabled-text;
    }
  }
}

.wiewui-form-controls textarea,
[dTextarea] {
  width: 100%;
}

// input 样式
.wiewui-input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.wiewui-input-group-addon {
  border: 1px solid $wiewui-form-control-line;
  border-radius: $wiewui-border-radius;
  display: table-cell;
  padding: 0 10px;
  text-align: center;

  &:last-child {
    @include border-position-radius(left);

    border-left: 0;
  }

  &:first-child {
    @include border-position-radius(right);

    border-right: 0;
  }
}

.wiewui-input {
  outline: none;
  background-color: $wiewui-base-bg;
  border: 1px solid $wiewui-form-control-line;
  border-radius: $wiewui-border-radius;
  padding: 5px 10px;
  line-height: 16px; // 解决ie中文字不居中，由于height28px，有10px的padding和2px的border，剩余16px，使用其他的会使文字不居中
  font-size: $wiewui-font-size;
  color: $wiewui-text;
  width: 100%;
  display: block;
  cursor: text;
  height: 28px;
  @include border-transition;

  &:hover {
    border-color: $wiewui-form-control-line-hover;
  }

  &:focus {
    border-color: $wiewui-form-control-line-active;
  }

  &[disabled],
  &.disabled,
  &.wiewui-disabled {
    &,
    &:hover,
    &:focus,
    &:hover:focus {
      border-color: $wiewui-disabled-line;
      color: $wiewui-disabled-text;
      background-color: $wiewui-disabled-bg;
      cursor: not-allowed;
    }
  }

  &::placeholder {
    color: $wiewui-placeholder;
  }

  &.wiewui-search-in-dropdown {
    margin: 0;
    border: none;
    padding: 5px 26px 5px 10px;
    background-color: $wiewui-embed-search-bg;
    color: $wiewui-text;

    &:-ms-input-placeholder {
      color: $wiewui-placeholder;
    }

    &:hover {
      background-color: $wiewui-embed-search-bg-hover;
    }
  }

  .wiewui-input-group > & {
    display: table-cell;
  }

  .wiewui-input-group > &:first-child {
    @include border-position-radius(right);
  }

  .wiewui-input-group > &:last-child {
    @include border-position-radius(left);
  }

  .wiewui-input-group > &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}

.wiewui-input-lg {
  font-size: $wiewui-font-size-page-title;
  line-height: 20px; // 同wiewui-input
  height: 32px;
}

.wiewui-input-sm {
  font-size: $wiewui-font-size;
  line-height: 14px; // 同wiewui-input
  height: 26px;
}

// dropdown 公共样式
.wiewui-dropup,
.wiewui-dropdown {
  position: relative;
}

.wiewui-form-group {
  position: relative;
}

.wiewui-form-control {
  color: $wiewui-text;
  background-color: $wiewui-base-bg;
  padding: 5px 10px;
  border: 1px solid $wiewui-form-control-line;
  display: block;
  width: 100%;
  height: 28px;
  border-radius: $wiewui-border-radius;
  outline: 0;
  @include border-transition;

  &[disabled],
  &.disabled,
  &.wiewui-disabled {
    &,
    &:hover,
    &:focus {
      border-color: $wiewui-disabled-line;

      &,
      & > input {
        color: $wiewui-disabled-text;
        background-color: $wiewui-disabled-bg;
        cursor: not-allowed;
      }
    }
  }

  &:hover {
    border-color: $wiewui-form-control-line-hover;
  }

  &:focus {
    border-color: $wiewui-form-control-line-active;
  }
}

:not(.multiple-label-auto-complete-disabled):not(.wiewui-error) {
  > .wiewui-dropdown-origin:not(d-button):not(.icon):not([class^='icon-']):not([disabled]):not(.disabled):not(.wiewui-disabled) {
    &:not(.wiewui-dropdown-no-border):not(.wiewui-no-border) {
      border-color: $wiewui-form-control-line;
      @include border-transition;

      &:hover:not(:focus):not(.wiewui-dropdown-origin-open) {
        border-color: $wiewui-form-control-line-hover;
      }

      &:focus,
      &:focus-within {
        outline: none;
        border-color: $wiewui-form-control-line-active;
      }

      &.wiewui-dropdown-origin-open {
        outline: none;
        border-color: $wiewui-connected-overlay-line;
      }
    }
  }
}

.wiewui-dropdown-origin:not(d-button):not(.icon):not([class^='icon-']) {
  min-height: 28px;

  &:not([disabled]):not(.disabled):not(.wiewui-disabled) {
    color: $wiewui-text;
  }

  & > .wiewui-input,
  & > .wiewui-form-control {
    height: 26px;
  }

  &:not(.wiewui-select-underlined-border):not(.wiewui-dropdown-no-border):not(.wiewui-no-border) {
    border-radius: $wiewui-border-radius;
    border-width: 1px;
    border-style: solid;
  }

  .wiewui-form-control,
  .wiewui-form-control:hover,
  .wiewui-form-control:focus,
  .wiewui-form-control:focus:hover,
  .wiewui-input-group-addon,
  .wiewui-input-group-addon:hover,
  .wiewui-input-group-addon:focus,
  > .wiewui-dropdown-default,
  > .wiewui-dropdown-default:hover,
  > .wiewui-dropdown-default:active,
  > .wiewui-dropdown-default:focus {
    border-color: transparent;
  }

  &[disabled],
  &.disabled,
  &.wiewui-disabled {
    .wiewui-form-control,
    .wiewui-form-control:hover,
    .wiewui-form-control:focus,
    .wiewui-form-control:focus:hover,
    .wiewui-input-group-addon,
    > .wiewui-dropdown-default,
    > .wiewui-dropdown-default:hover,
    > .wiewui-dropdown-default:active,
    > .wiewui-dropdown-default:focus {
      background-color: $wiewui-disabled-bg;
    }
  }
}

// css选择器不可合并，否则css解析器总是会失败
input::-moz-placeholder {
  color: $wiewui-placeholder;
}

input:-ms-input-placeholder {
  color: $wiewui-placeholder;
}

input::-webkit-input-placeholder {
  color: $wiewui-placeholder;
}

/* status style start */

/* border color and background */
[dInput]:not([disabled]):not(.disabled):not(.wiewui-disabled).error,
[dTextarea]:not([disabled]):not(.disabled):not(.wiewui-disabled).error,
[dInput]:not([disabled]):not(.disabled):not(.wiewui-disabled).wiewui-error,
[dTextarea]:not([disabled]):not(.disabled):not(.wiewui-disabled).wiewui-error {
  border-color: $wiewui-danger-line;
  background-color: $wiewui-danger-bg;
}

[dDatePicker]:not([disabled]):not(.disabled):not(.wiewui-disabled).wiewui-error {
  background-color: $wiewui-danger-bg;
}

d-select:not([disabled]):not(.disabled):not(.wiewui-disabled):not(.multiple-label-auto-complete-disabled).wiewui-error {
  div.wiewui-dropdown-origin.wiewui-dropup,
  div.wiewui-dropdown-origin.wiewui-dropdown {
    border-color: $wiewui-danger-line;

    .wiewui-form-group .wiewui-input.wiewui-form-control.wiewui-select-input:not(.wiewui-select-search),
    .wiewui-form-group .wiewui-select-input:not(.wiewui-select-search) + .wiewui-form-control-feedback {
      background-color: $wiewui-danger-bg;
    }
  }
}

d-editable-select:not([disabled]):not(.disabled):not(.wiewui-disabled).wiewui-error {
  .wiewui-form-group:not(.multiple-label-auto-complete-disabled) {
    input.wiewui-form-control.wiewui-dropdown-origin {
      border-color: $wiewui-danger-line;
      background-color: $wiewui-danger-bg; /* TODO: open时，下边框颜色 */
    }
  }
}

d-datepicker-pro:not([disabled]):not(.disabled):not(.wiewui-disabled).wiewui-error {
  .wiewui-datepicker-pro-wrapper:not([disabled]):not(.disabled):not(.wiewui-disabled) .wiewui-dropdown-toggle .wiewui-single-picker {
    border-color: $wiewui-danger-line;
    background-color: $wiewui-danger-bg;

    .wiewui-input:not(.wiewui-disabled) {
      background-color: $wiewui-danger-bg;
    }
  }
}

d-range-datepicker-pro:not([disabled]):not(.disabled):not(.wiewui-disabled).wiewui-error {
  .wiewui-datepicker-pro-wrapper:not([disabled]):not(.disabled):not(.wiewui-disabled) .wiewui-dropdown-toggle .wiewui-range-picker {
    border-color: $wiewui-danger-line;
    background-color: $wiewui-danger-bg;

    .wiewui-input:not(.wiewui-disabled) {
      background-color: $wiewui-danger-bg;
    }
  }
}

d-input-number:not([disabled]):not(.disabled):not(.wiewui-disabled).wiewui-error {
  .input-box:not(:disabled) {
    border-color: $wiewui-danger-line;
    background-color: $wiewui-danger-bg;
  }
}

d-multi-auto-complete:not([disabled]):not(.disabled):not(.wiewui-disabled).wiewui-error {
  :not(.multiple-label-auto-complete-disabled) {
    &.multiple-label-auto-complete.multiple-label-auto-complete-border ul.wiewui-dropdown-origin {
      border-color: $wiewui-danger-line;
      background-color: $wiewui-danger-bg;
    }

    input[dAutoComplete] {
      background-color: $wiewui-danger-bg;
    }
  }
}

d-tags-input:not([disabled]):not(.disabled):not(.wiewui-disabled).wiewui-error {
  :not(.multiple-label-auto-complete-disabled) {
    div.wiewui-tags.wiewui-form-control {
      border-color: $wiewui-danger-line;
      background-color: $wiewui-danger-bg;
    }

    input.wiewui-input {
      background-color: $wiewui-danger-bg;
    }
  }
}

d-tree-select:not([disabled]):not(.disabled):not(.wiewui-disabled).wiewui-error {
  :not(.multiple-label-auto-complete-disabled) {
    & > div.wiewui-select-input.wiewui-dropdown-origin.wiewui-tree-select-input {
      border-color: $wiewui-danger-line;
      background-color: $wiewui-danger-bg; /* TODO: open时，下边框颜色 */
    }
  }
}

d-search:not([disabled]):not(.disabled):not(.wiewui-disabled).wiewui-error {
  input.wiewui-input {
    border-color: $wiewui-danger-line;
    background-color: $wiewui-danger-bg;
  }
}

/* border color only */
d-editor-md:not([disabled]):not(.disabled):not(.wiewui-disabled).wiewui-error {
  border-color: $wiewui-danger-line;
}

d-editor:not([disabled]):not(.disabled):not(.wiewui-disabled).wiewui-error {
  .ql-toolbar,
  .ql-container {
    border-color: $wiewui-danger-line;
  }
}

d-form-control {
  d-search {
    width: 100%;
  }
}

.wiewui-form-controls.wiewui-form-control-has-suffix {
  [dInput],
  [dTextArea] {
    padding-right: 28px;
  }
}

.wiewui-form-controls.wiewui-form-control-has-suffix.wiewui-form-control-has-feedback {
  [dInput],
  [dTextArea] {
    padding-right: 56px;
  }
}

.wiewui-form-controls.wiewui-form-control-has-feedback {
  [dInput],
  [dTextarea] {
    padding-right: 28px;
  }

  d-search {
    .wiewui-search {
      .wiewui-search-icon {
        right: 24px;
      }

      .wiewui-search-line {
        right: 60px;
      }

      .wiewui-search-clear {
        right: 60px;
      }

      .wiewui-input.wiewui-icon-left {
        padding-right: 30px;
      }

      .wiewui-input {
        padding-right: 54px;
      }

      .wiewui-input.wiewui-clear-exit {
        padding-right: 84px;
      }

      .wiewui-search-line.wiewui-search-line-sm {
        right: 60px;
      }

      .wiewui-search-clear.wiewui-search-clear-sm {
        right: 60px;
      }

      .wiewui-input.wiewui-input-sm {
        padding-right: 54px;
      }

      .wiewui-input.wiewui-clear-exit.wiewui-input-sm {
        padding-right: 84px;
      }

      .wiewui-search-line.wiewui-search-line-lg {
        right: 70px;
      }

      .wiewui-search-clear.wiewui-search-clear-lg {
        right: 70px;
      }

      .wiewui-input.wiewui-input-lg {
        padding-right: 60px;
      }

      .wiewui-input.wiewui-clear-exit.wiewui-input-lg {
        padding-right: 95px;
      }
    }
  }

  d-select {
    .wiewui-form-group {
      .wiewui-select-input {
        padding-right: 48px;
      }

      .wiewui-form-control-feedback {
        right: 24px;
      }
    }
  }

  d-tree-select {
    vertical-align: middle;

    .wiewui-tree-select .wiewui-select-input.wiewui-tree-select-input {
      padding-right: 52px;
    }

    .wiewui-tree-select .wiewui-select-chevron-icon {
      right: 34px;
    }
  }

  d-input-number {
    width: 100%;

    .input-control-buttons {
      right: 32px;
    }

    .input-box {
      padding-right: 32px;
    }

    &:hover .input-box:not(.disabled) {
      padding-right: 58px;
    }
  }

  d-tags-input {
    .wiewui-tags {
      padding-right: 28px;
    }
  }

  d-multi-auto-complete {
    .multiple-label-auto-complete ul {
      padding-right: 28px;
    }
  }

  d-editable-select {
    .wiewui-form-group.wiewui-has-feedback > .wiewui-form-control-feedback {
      right: 24px;
    }

    & > div > .wiewui-form-control {
      padding-right: 48px;
    }
  }

  [dDatePicker].wiewui-form-control {
    padding-right: 32px;
  }
}

/* status style end */
